doctype html
html(lang='ru')
	include components/head.pug
	body
		include components/header.pug
		.content
			.promo-block
				.container
					.promo-banner.flex-container
						.left-part
							.logo-img
								img(src="images/logo.svg")
							span.promo-text лечение сайта всего за
								span.green  5000 рублей
						.right-part
							img(src="images/right-banner.svg")
					h1 Оперативно восстановим работоспособность вашего сайта после заражения
						span.blue  и защитим от вирусов!
					a.green-btn.lg.open-popup(href="#order-popup") Оставить заявку
			.grey-block
				.container
					h2 Какие проблемы вы видите на своем сайте?
					.card-wrap.flex-container
						.item
							.tooltip
								span.toopltip-icon hint
								.tooltip-box
									p Рассылка спама с вашего сайта обязательно приведет к блокировке аккаунта на хостинге, попаданием сайта в антиспам базы и потерей доступа к сайту его посетителями. Вирусы рассылают с вашего сайта рекламу и спам с предложениями от мошенников. Это мгновенно подорвет доверие к вам и вашему сайту.
							.img-box
								img(src="images/icon-4.svg")
							p Сайт заблокирован поисковыми системами Google и Яндекс?
							a.btn-bottom(href="#") Решить проблему
						.item
							.tooltip
								span.toopltip-icon hint
								.tooltip-box
									p Рассылка спама с вашего сайта обязательно приведет к блокировке аккаунта на хостинге, попаданием сайта в антиспам базы и потерей доступа к сайту его посетителями. Вирусы рассылают с вашего сайта рекламу и спам с предложениями от мошенников. Это мгновенно подорвет доверие к вам и вашему сайту.
							.img-box
								img(src="images/icon-7.svg")
							p Падение функциональности?
							a.btn-bottom(href="#") Решить проблему
						.item
							.tooltip
								span.toopltip-icon hint
								.tooltip-box
									p Рассылка спама с вашего сайта обязательно приведет к блокировке аккаунта на хостинге, попаданием сайта в антиспам базы и потерей доступа к сайту его посетителями. Вирусы рассылают с вашего сайта рекламу и спам с предложениями от мошенников. Это мгновенно подорвет доверие к вам и вашему сайту.
							.img-box
								img(src="images/icon-3.svg")
							p Хостер заблокировал почту и ваш сайт?
							a.btn-bottom(href="#") Решить проблему
						.item
							.tooltip
								span.toopltip-icon hint
								.tooltip-box
									p Рассылка спама с вашего сайта обязательно приведет к блокировке аккаунта на хостинге, попаданием сайта в антиспам базы и потерей доступа к сайту его посетителями. Вирусы рассылают с вашего сайта рекламу и спам с предложениями от мошенников. Это мгновенно подорвет доверие к вам и вашему сайту.
							.img-box
								img(src="images/icon-9.svg")
							p Пользователи перенаправляются на сторонний сайт?
							a.btn-bottom(href="#") Решить проблему
						.item
							.tooltip
								span.toopltip-icon hint
								.tooltip-box
									p Рассылка спама с вашего сайта обязательно приведет к блокировке аккаунта на хостинге, попаданием сайта в антиспам базы и потерей доступа к сайту его посетителями. Вирусы рассылают с вашего сайта рекламу и спам с предложениями от мошенников. Это мгновенно подорвет доверие к вам и вашему сайту.
							.img-box
								img(src="images/icon-2.svg")
							p Подозрительные ссылки на сторонние ресурсы?
							a.btn-bottom(href="#") Решить проблему
						.item
							.tooltip
								span.toopltip-icon hint
								.tooltip-box
									p Рассылка спама с вашего сайта обязательно приведет к блокировке аккаунта на хостинге, попаданием сайта в антиспам базы и потерей доступа к сайту его посетителями. Вирусы рассылают с вашего сайта рекламу и спам с предложениями от мошенников. Это мгновенно подорвет доверие к вам и вашему сайту.
							.img-box
								img(src="images/icon-8.svg")
							p Браузер предупреждает о постороннем ПО? (вирусы)
							a.btn-bottom(href="#") Решить проблему
						.item
							.tooltip
								span.toopltip-icon hint
								.tooltip-box
									p Рассылка спама с вашего сайта обязательно приведет к блокировке аккаунта на хостинге, попаданием сайта в антиспам базы и потерей доступа к сайту его посетителями. Вирусы рассылают с вашего сайта рекламу и спам с предложениями от мошенников. Это мгновенно подорвет доверие к вам и вашему сайту.
							.img-box
								img(src="images/icon-5.svg")
							p С вашего сайта рассылается спам?
							a.btn-bottom(href="#") Решить проблему
						.item
							.tooltip
								span.toopltip-icon hint
								.tooltip-box
									p Рассылка спама с вашего сайта обязательно приведет к блокировке аккаунта на хостинге, попаданием сайта в антиспам базы и потерей доступа к сайту его посетителями. Вирусы рассылают с вашего сайта рекламу и спам с предложениями от мошенников. Это мгновенно подорвет доверие к вам и вашему сайту.
							.img-box
								img(src="images/icon-6.svg")
							p Кража данных
							a.btn-bottom(href="#") Решить проблему
					h2 Почему нам стоит доверять?
					.feedback-block
						.js-slider.owl-carousel
							.feedback-item.flex-container
								.left-side
									strong.ttl На данный момент очень довольна всем.
									.info-line
										spam.name — Елена,
										a.blue(href="#") fm***@yandex.ru
								.right-side
									p Огромное спасибо специалистам Ревизиум за решение проблемы с рассылкой спама с моего сервера. Была проведена диагностика 5 сайтов, чистка и настройка. На данный момент очень довольна всем. Руководитель отдела безопасности Григорий очень корректен, отвечал на все вопросы, чувствовалась готовность помочь. Скидка за опт также порадовала. Еще раз - благодарю! Успехов Вам в профессиональной деятельности и всех благ!
							.feedback-item.flex-container
								.left-side
									strong.ttl очень довольна всем.
									.info-line
										spam.name — Елена,
										a.blue(href="#") fm***@yandex.ru
								.right-side
									p Огромное спасибо специалистам Ревизиум за решение проблемы с рассылкой спама с моего сервера. Была проведена диагностика 5 сайтов, чистка и настройка. На данный момент очень довольна всем. Руководитель отдела безопасности Григорий очень корректен, отвечал на все вопросы, чувствовалась готовность помочь. Скидка за опт также порадовала.
							.feedback-item.flex-container
								.left-side
									strong.ttl На данный момент очень довольна всем.
									.info-line
										spam.name — Елена,
										a.blue(href="#") fm***@yandex.ru
								.right-side
									p Огромное спасибо специалистам Ревизиум за решение проблемы с рассылкой спама с моего сервера. Была проведена диагностика 5 сайтов, чистка и настройка. На данный момент очень довольна всем. Руководитель отдела безопасности Григорий очень корректен, отвечал на все вопросы, чувствовалась готовность помочь. Скидка за опт также порадовала. Еще раз - благодарю! Успехов Вам в профессиональной деятельности и всех благ!
					.trust-block.flex-container
						.item.holder
							img(src="images/icon-20.svg")
							span Работа технических специалистов 24/7
						.item.holder
							img(src="images/icon-18.svg")
							span Специалисты с большим опытом
						.item.holder
							img(src="images/icon-19.svg")
							span Минимально возможные сроки

			.step-block
				.container
					h2 Что мы сделаем?
						br
						span.blue Как это работает?
					.step-list
						.step-item.holder
							.picture-box
								img(src="images/icon-10.svg")
							.info-box
								strong.sub-ttl Изучаем проблему
								p Проводим комплексную диагностику сайта с помощью собственного программного обеспечения.
						.step-item.holder
							.picture-box
								img(src="images/icon-11.svg")
							.info-box
								strong.sub-ttl Лечим сайт
								p Чистим от вирусов, вредоносного кода и вебшелов, бекдоров, спам-скриптов, фишинговых страниц, дорвеев, редиректов и еще много ключевых слов.
						.step-item.holder
							.picture-box
								img(src="images/icon-13.svg")
							.info-box
								strong.sub-ttl Напиши сюда текст
								p Закрываем основные уязвимости во избежание повторного заражения.
						.step-item.holder
							.picture-box
								img(src="images/icon-14.svg")
							.info-box
								strong.sub-ttl Удаляем из черного списка
								p Если сайт успел попасть в черные списки поисковых систем или антивирусов мы самостоятельно свяжемся с ними и отправим заявку на удаление вашего сайта из черных списков.
						.step-item.holder
							.picture-box
								img(src="images/icon-12.svg")
							.info-box
								strong.sub-ttl Передаем файлы
								p Передаем вам бекап с чистым сайтом, отчет о проделанной работе и наши рекомендации по безопасности на будущее.
			.grey-block
				.container
					h2 Оплата и сроки
					.payment-eta.flex-container
						.img-wrap
							img(src="images/icon-15.svg")
						.text-wrap
							.cols.flex-container
								.col
									strong Для юридических лиц
									p оплата по безналу, при необходимости высылаем почтой все требующиеся документы (счет, акт выполненных работ, договор)
								.col
									strong Для физических лиц
									p оплата картами или электронными деньгами
							.border-box
								p Лечение одного сайта занимает порядка 1-3 рабочих дней с момента оплаты и получения всех необходимых доступов к сайту / хостингу / серверу.
								p
									strong Скидка за объем!
									| &nbsp;Чем больше сайтов — тем дешевле.
					h2 Дополнительные услуги
					.sevice-wrap
						.service-box
							.main-info.flex-container.js-drop-opener
								.l-side
									strong Перенос сайта на безопасный хостинг
								.r-side
									strong 5000 р. в год
							.drop-info.js-drop-opened
								p Ежемесячное обслуживание сайта (еженедельная проверка сайта на вирусы и очистка при необходимости, установка патчей, устранение новых известных уязвимостей, решение технических вопросов, что-то еще). Минимум 3 месяца
						.service-box
							.main-info.flex-container.js-drop-opener
								.l-side
									strong Возьмем ваш сайт на сопровождение
								.r-side
									strong от 2000 р. в месяц
							.drop-info.js-drop-opened
								p Ежемесячное обслуживание сайта (еженедельная проверка сайта на вирусы и очистка при необходимости, установка патчей, устранение новых известных уязвимостей, решение технических вопросов, что-то еще). Минимум 3 месяца
						.service-box
							.main-info.flex-container.js-drop-opener
								.l-side
									strong Правильная настройка вашего сервера с точки зрения безопасности
								.r-side
									strong 10 000 р. в год
							.drop-info.js-drop-opened
								p Ежемесячное обслуживание сайта (еженедельная проверка сайта на вирусы и очистка при необходимости, установка патчей, устранение новых известных уязвимостей, решение технических вопросов, что-то еще). Минимум 3 месяца
					h2 Калькулятор
					ul.tab-menu.js-tab-menu
						li
							a(href="#tab01" class="active") Лечение сайтов
						li
							a(href="#tab02") Обслуживание
						li
							a(href="#tab03") Прочие услуги
					.tab-content.js-tab-content(id="tab01" class="active")
						.tab-block.flex-container
							.picture-side
								img(src="images/icon-16.svg")
							.info-block
								.form-wrap
									.form-item-holder.holder
										input(type="checkbox", id="checkbox01")
										label(for="checkbox01") Я хочу перенести
									.form-item-holder.holder
										select
											option 1
											option 2
											option 3
										label сайт на безопасный хостинг
									.form-item-holder.holder
										input(type="checkbox", id="checkbox02")
										label(for="checkbox02") Мне нужно ежемесячное обслуживание для
									.form-item-holder.holder
										select
											option 1
											option 2
											option 3
										label сайтов
								.result-row
									.result-item
										strong.blue Стоимость:&nbsp;
										span 20 000 рублей
									.result-item
										strong.blue Сроки:&nbsp;
										span 2 месяца
					.tab-content.js-tab-content(id="tab02")
						.tab-block.flex-container
							.picture-side
								img(src="images/icon-16.svg")
							.info-block
								.form-wrap
									.form-item-holder
										input(type="checkbox", id="checkbox03")
										label(for="checkbox03") Я хочу перенести
									.form-item-holder
										select
											option 1
											option 2
											option 3
										label сайт на безопасный хостинг
									.form-item-holder
										input(type="checkbox", id="checkbox04")
										label(for="checkbox04") Мне нужно ежемесячное обслуживание для
									.form-item-holder
										select
											option 1
											option 2
											option 3
										label сайтов
								.result-row
									.result-item
										strong.blue Стоимость:&nbsp;
										span 10 000 рублей
									.result-item
										strong.blue Сроки:&nbsp;
										span 1 месяц
					.tab-content.js-tab-content(id="tab03")
						.tab-block.flex-container
							.picture-side
								img(src="images/icon-16.svg")
							.info-block
								.form-wrap
									.form-item-holder
										input(type="checkbox", id="checkbox05")
										label(for="checkbox05") Я хочу перенести
									.form-item-holder
										select
											option 1
											option 2
											option 3
										label сайт на безопасный хостинг
									.form-item-holder
										input(type="checkbox", id="checkbox06")
										label(for="checkbox06") Мне нужно ежемесячное обслуживание для
									.form-item-holder
										select
											option 1
											option 2
											option 3
										label сайтов
								.result-row
									.result-item
										strong.blue Стоимость:&nbsp;
										span 30 000 рублей
									.result-item
										strong.blue Сроки:&nbsp;
										span 3 месяца
					a.green-btn.lg(href="#") Оформить заказ
			.order-block
				.container.flex-container
					.sale-box
						strong.blue.ttl Акция!
						p Заказав у нас чистку сайта от вирусов вы получаете подарок от наших партнеров:
						.partner-box
							img(src="images/partner-logo.png")
						p 3 месяца бесплатного мониторинга в сервисе
							a(href="nazamok.com")  Nazamok.com
						.sale-pict
							img(src="images/icon-17.svg")
					.order-box
						h2 Заказать лечение сайта
						p Укажите адреса сайтов и опишите проблему, с которой вы столкнулись.Наш менеджер свяжется с вами после изучения всех деталей.
						.form-block
							form(action="#")
								fieldset
									.top-row.holder
										input(type="email", placeholder="Электронная почта")
										input(type="tel", placeholder="Телефон (обязательно)")
									.fields-box.holder
										input(type="url", placeholder="Адрес сайта")
										textarea(placeholder="Опишите суть проблемы")
									.bottom-row.flex-container
										input(type="file")
										a.green-btn.md(href="#") Оставить заявку
						.note
							p Нажимая на кнопку «Отправить», вы даете согласие на обработку своих персональных данных на основании Федерального закона № 152-ФЗ
		include components/footer.pug
		include components/popup.pug
