body {
	color: #000;
	font: 20px/28px @ss-pro-light;
}
body > svg {
	left: -9999px;
	position: absolute;
	top: -9999px;
}
input,
button {
	-webkit-appearance: none;
}
.container {
	max-width: 1280px;
	padding: 0 30px;
	box-sizing: border-box;
	margin: 0 auto;
}
.holder{
	&:after{
		display: block;
		clear: both;
		content: '';
	}
}
.flex-container {
	display: flex;
	justify-content: space-between;
}
.blue {
	color: @blue;
}
.green {
	color: @green;
}
.promo-block {
	background: @grey;
	width: 100%;
	padding: 40px 0 10px;
	text-align: center;
	position: relative;
	overflow: hidden;

	&:before {
		content:"";
		width: 6000px;
		height: 6000px;
		border-radius: 50%;
		position: absolute;
		bottom: 40px;
		left: 50%;
		margin-left: -3000px;
		background: #fff;
	}
	.container {
		position: relative;
		z-index: 2;
	}
}
.top-line {
	padding-left: 112px;
	text-align: left;
}
.tel, .mail {
	font: 24px/28px @ss-pro-reg;
	text-decoration: none;
	display: inline-block;
	margin-right: 35px;
}
.tel {
	color: #000;
}
.mail {
	color: @blue;
}
.promo-banner {
	position: relative;
	margin-bottom: 35px;
	img {
		vertical-align: top;
		max-width: 100%;
	}
}
.promo-text {
	font: 28px/32px @ss-pro-reg;
	position: absolute;
	top: 77%;
	left: 17.5%;
	max-width: 300px;
	span {
		font-family: @ss-pro-bold;
	}
}
.content {
	h1 {
		font: 52px/56px @ss-pro-bold;
		color: @dark-brown;
		margin-bottom: 50px;
		.blue {
			display: block;
		}
	}
	h2 {
		font: 48px/52px @ss-pro-bold;
		color: @dark-brown;
		margin-bottom: 30px;
		text-align: center;
	}
}
.green-btn {
	color: #fff;
	background-color: @green;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	font-family: @ss-pro-bold;
	display: block;
	box-shadow: 0 3px 10px 0 rgba(25, 174, 25, 0.35);
	transition: background 0.5s ease;
	&:hover {
		background-color: #2dcb2d;
	}
	&:active {
		background-color: #138613;
	}
	&.lg {
		width: 384px;
		font-size: 28px;
		line-height: 32px;
		padding: 24px 10px;
		border-radius: 40px;
		margin: 0 auto;
	}
	&.md {
		width: 202px;
		font-size: 16px;
		line-height: 20px;
		padding: 15px 10px;
		border-radius: 25px;
	}
	&.sm {
		width: 162px;
		font-size: 14px;
		line-height: 18px;
		padding: 9px 10px 8px;
		border-radius: 17px;
	}
}
.grey-block {
	background-color: @grey;
	padding: 80px 0 50px;
}
.card-wrap {
	flex-wrap: wrap;
	margin-bottom: 40px;
	.item {
		width: calc(~"25% - 15px");
		background-color: #fff;
		border-radius: 5px;
		position: relative;
		margin-bottom: 30px;
		font: 22px/26px @ss-pro-reg;
		box-shadow: @shadow;
		padding: 20px 30px 60px;
		text-align: center;
		box-sizing: border-box;
		cursor: pointer;
		.img-box {
			height: 180px;
			line-height: 180px;
			margin-bottom: 20px;
		}
		img {
			width: 212px;
			vertical-align: middle;
		}
		.btn-bottom {
			text-transform: uppercase;
			color: #fff;
			font: 20px/24px @ss-pro-bold;
			display: block;
			background-color: @blue;
			padding: 13px 0;
			text-decoration: none;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			opacity: 0;
			transition: opacity 0.5s ease;
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;
		}
		&:hover {
			.btn-bottom {
				opacity: 1;
			}
		}
		&:nth-child(4n) {
			.tooltip-box {
				left: auto;
				right: 9px;
			}
		}
	}
}
.tooltip-box {
	font: 18px/28px @ss-pro-reg;
	color: @dark-brown;
	background-color: #fff;
	width: 504px;
	border: 4px solid @blue;
	border-radius: 5px;
	padding: 20px 27px;
	box-sizing: border-box;
	position: absolute;
	left: 9px;
	bottom: 20px;
	z-index: 2;
	text-align: left;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.5s ease;
}
.tooltip {
	position: absolute;
	top: 20px;
	left: 20px;
	.toopltip-icon {
		width: 30px;
		height: 30px;
		background-color: #e9eaeb;
		position: relative;
		text-indent: -9999px;
		display: block;
		border-radius: 50%;
		&:after {
			content: '?';
			color: #fff;
			text-indent: 0;
			display: block;
			position: absolute;
			top: 0;
			left: 9px;
			font: 26px/30px @ss-pro-bold;
		}
	}
	&:hover {
		.toopltip-icon {
			background-color: @blue;
		}
		.tooltip-box {
			visibility: visible;
			opacity: 1;
		}
	}
}
.feedback-block {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: @shadow;
	padding: 50px 110px 30px 45px;
	position: relative;
	font: 20px/28px @ss-pro-reg;
	margin-bottom: 50px;
	&:after {
		position: absolute;
		top: 35px;
		right: 44px;
		background-image: url("../images/sprite.png");
		width: 54px;
		height: 46px;
		content: '';
	}
	.left-side {
		width: 30%;
	}
	.ttl {
		display: block;
		font: 28px/32px @ss-pro-reg;
		margin-bottom: 20px;
	}
	.right-side {
		width: 65%;
	}
	.info-line {
		font: 18px/22px @ss-pro-reg;
		a {
			text-decoration: none;
		}
	}
}
.owl-dots {
	text-align: center;
	margin-top: 100px;
	.owl-dot {
		display: inline-block;
		width: 16px;
		height: 16px;
		border: 2px solid #abdff5;
		border-radius: 50%;
		margin: 0 5px;
		background-color: #fff;
		&.active {
			background-color: @blue;
			border-color: @blue;
		}
	}
}
.trust-block {
	.item {
		width: 30%;
		font: 24px/28px @ss-pro-reg;
		position: relative;
		padding-top: 30px;
		box-sizing: border-box;
		min-height: 130px;
		img {
			position: absolute;
			top: 0;
			left: 0;
		}
		&:first-child {
			padding-left: 110px;
			img {
				width: 95px;
			}
		}
		&:nth-child(2) {
			padding-left: 115px;
			img {
				width: 105px;
			}
		}
		&:nth-child(3) {
			padding-left: 145px;
			img {
				width: 129px;
			}
		}
	}
}
.step-list {
	counter-reset: counter;
	font: 20px/24px @ss-pro-reg;
	color: @dark-brown;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.step-item {

	@media @mobile {
		margin: 0 0 30px;
	}

	@media @desktop {
		width: 49%;

		&:nth-child(2n) {
			margin: 160px 0 -100px;
		}
	}
}
.picture-box {
	width: 280px;
	position: relative;
	margin-right: 20px;
	float: left;
	&:before {
		content: counter(counter);
		counter-increment: counter;
		width: 60px;
		height: 60px;
		background-color: @blue;
		display: block;
		border-radius: 50%;
		color: #fff;
		text-align: center;
		font: 32px/60px @ss-pro-bold;
		position: absolute;
		right: 0;
		bottom: -30px;
	}
	img {
		display: block;
	}
}
.sub-ttl {
	display: block;
	font: 28px/32px @ss-pro-reg;
	margin-bottom: 20px;
}
.info-box {
	overflow: hidden;

	@media @desktop {
		padding-top: 50px;
	}
}
.payment-eta {
	background: #fff;
	box-shadow: @shadow;
	padding: 40px;
	font-size: 20px;
	line-height: 28px;
	margin-bottom: 50px;
	border-radius: 5px;
	.img-wrap {
		width: 60%;
		margin: 0 50px 0 0;
		display: flex;
		justify-content: center;

		img {
			display: block;
			width: 100%;
		}
		@media @mobile {
			display: none;
		}
	}
	.text-wrap {
		.cols {
			margin: 0 0 35px;
		}
		.col {
			width:47%;

			strong {
				display: block;
				font-family: @ss-pro-reg;
				font-size: 28px;
				margin: 0 0 20px;
			}
		}
	}
	.border-box {
		border: 4px solid @blue;
		border-radius: 5px;
		padding: 30px;

		p {
			&:first-child {
				margin: 0 0 20px;
			}
			strong {
				font-family: @ss-pro-bold;
				color: @blue;
			}
		}
	}
}
.sevice-wrap {
	padding-bottom: 70px;
}
.sevice-box {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: @shadow;
	margin-bottom: 10px;
	.main-info {
		padding: 20px 30px;
		cursor: pointer;
		align-items: center;
	}
	.l-side {
		font: 24px/28px @ss-pro-reg;
		position: relative;
		padding-left: 32px;
		&:before, &:after {
			width: 4px;
			height: 16px;
			background-color: @blue;
			border-radius: 2px;
			box-shadow: 0 0 10px 1px rgba(31, 145, 200, 0.35);
			position: absolute;
			content: '';
		}
		&:before {
			transform: rotate(-35deg);
			left: 0;
			top: 2px;
		}
		&:after {
			transform: rotate(35deg);
			left: 0;
			top: 13px;
		}
	}
	.active {
		.l-side {
			&:before {
				transform: rotate(-55deg);
				top: 7px;
			}
			&:after {
				transform: rotate(55deg);
				top: 7px;
				left: 11px;
			}
		}
	}
	.r-side {
		font: 20px/24px @ss-pro-bold;
		border-left: 2px solid @green;
		padding: 7px 0 7px 25px;
		box-sizing: border-box;
		width: 250px;
	}
	.drop-info {
		padding: 0 30px 30px 60px;
		font-size: 20px;
		line-height: 28px;
		color: @dark-brown;
		display: none;
	}
}
.tab-menu {
	font: 24px/28px @ss-pro-reg;
	text-align: center;
	margin-bottom: 30px;
	li {
		display: inline-block;
		margin: 0 20px;
		a {
			color: @blue;
			text-decoration: none;
			border-bottom: 1px dashed @blue;
			&.active {
				border-bottom-color: transparent;
				color: @dark-brown;
			}
		}
	}
}
.tab-content {
	display: none;
	margin-bottom: 50px;
	&.active {
		display: block;
	}
}
.tab-block {
	background-color: #fff;
	box-shadow: @shadow;
	border-radius: 5px;
	border: 4px solid @blue;
	padding: 30px;
	justify-content: flex-start;
}
.picture-side {
	width: 30%;
	margin-right: 7%;
}
.info-block {
	font-size: 20px;
	line-height: 28px;
	width: 63%;
	padding-top: 20px;
}
.form-wrap {
	margin-bottom: 35px;
}
.form-item-holder {
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin: 0 20px 20px 0;
	min-height: 50px;
	input[type="checkbox"] {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
	}
	input[type="checkbox"] + label {
		padding-left: 70px;
		cursor: pointer;
		display: inline-block;
		vertical-align: middle;
		line-height: 50px;
		min-height: 50px;
		&:before {
			width: 50px;
			height: 50px;
			box-sizing: border-box;
			background-color: #fff;
			position: absolute;
			left: 0;
			top: 0;
			border: 2px solid #abdff5;
			border-radius: 3px;
			box-shadow: 0 3px 7px 1px rgba(97, 123, 158, 0.14);
			content: '';
		}
		&:after {
			background-image: url("../images/checkbox-arrow.svg");
			width: 28px;
			height: 27px;
			position: absolute;
			top: 11px;
			left: 13px;
		}
	}
	input[type="checkbox"]:checked + label {
		&:before {
			background-color: @blue;
			border-color: @blue;
		}
		&:after {
			content: '';
		}
	}
}
.jq-selectbox {
	text-align: center;
	width: 100px;
	vertical-align: middle;
	margin-right: 20px;
}
.jq-selectbox__select {
	width: 100%;
	position: relative;
	padding: 11px 30px 11px 15px;
	box-sizing: border-box;
	border: 2px solid #e3f4fc;
	border-radius: 3px;
	font: 20px/24px @ss-pro-light;
	cursor: pointer;
	box-shadow: 0 3px 7px 0 rgba(97, 123, 158, 0.14);
}
.jq-selectbox__dropdown {
	width: 100%;
	background-color: #fff;
	border: 2px solid #e3f4fc;
	border-radius: 3px;
	box-sizing: border-box;
	text-align: left;
	margin-top: -2px;
	li {
		cursor: pointer;
		padding: 5px 10px;
		&:hover {
			background-color: #e3f4fc;
		}
	}
}
.jq-selectbox__trigger-arrow {
	background: url("../images/sprite.png") -61px 0;
	width: 15px;
	height: 7px;
	position: absolute;
	top: 50%;
	margin-top: -3px;
	right: 18px;
}
.result-row {
	font: 28px/32px @ss-pro-reg;
	.result-item {
		display: inline-block;
		margin-right: 30px;
	}
}
.sale-box {
	order: 2;
	width: 386px;
	border: 1px dashed @blue;
	border-radius: 7px;
	padding: 30px;
	box-sizing: border-box;
	font: 20px/28px @ss-pro-light;
	position: relative;
	margin-bottom: 180px;
	.ttl {
		display: block;
		font: 48px/52px @ss-pro-bold;
		margin-bottom: 15px;
	}
	p {
		margin-bottom: 10px;
		a {
			color: @blue;
			text-decoration: none;
		}
	}
	.partner-box {
		text-align: center;
		background-color: #ffeea6;
		border-radius: 3px;
		padding: 25px;
		margin-bottom: 20px;
		img {
			max-width: 100%;
			vertical-align: top;
		}
	}
	.sale-pict {
		margin-bottom: -155px;
		text-align: center;
		padding-top: 20px;
		img {
			width: 226px;
			height: 228px;
		}
	}
}
.order-box {
	width: 656px;
	order: 1;
	h2 {
		text-align: left;
		margin-bottom: 15px;
	}
}
.form-block {
	padding-top: 45px;
	.top-row {
		box-shadow: 0 3px 7px 1px rgba(97, 123, 158, 0.14);
		margin-bottom: 20px;
		input {
			float: left;
			background-color: #fff;
			font: 18px/28px @ss-pro-reg;
			padding: 14px 15px;
			margin: 0;
			border: 2px solid #abdff5;
			width: 50%;
			box-sizing: border-box;
			outline: none;
			&:focus {
				border-color: @blue;
			}
		}
		input[type="email"] {
			border-radius: 3px 0 0 3px;
		}
		input[type="tel"] {
			border-radius: 0 3px 3px 0;
			border-left: 0;
			&:focus {
				border-left: 2px solid @blue;
				margin-left: -2px;
				width: calc(~"50% + 2px");
			}
		}
	}
	.fields-box {
		box-shadow: 0 3px 7px 1px rgba(97, 123, 158, 0.14);
		margin-bottom: 20px;
		input[type="url"], textarea {
			width: 100%;
			box-sizing: border-box;
			background-color: #fff;
			padding: 14px 15px;
			margin: 0;
			border: 2px solid #abdff5;
			font: 18px/28px @ss-pro-reg;
			outline: none;
			&:focus {
				border-color: @blue;
			}
		}
		input[type="url"] {
			border-radius: 3px 3px 0 0;
		}
		textarea {
			border-radius: 0 0 3px 3px;
			height: 200px;
			border-top: 0;
			&:focus {
				border-top: 2px solid @blue;
				margin-top: -2px;
				height: 202px;
			}
		}
	}
	.bottom-row {
		align-items: center;
	}
}