header.header
	.container.flex-container
		.header-contacts
			a(href="tel:78905626211" class="tel") +7 (890) 562-62-11
			a(href="mailto:support@siterestore.ru" class="mail") support@siterestore.ru

.fixed
	header.header
		.container.flex-container
			.logo siterestore
			.header-contacts
				a(href="tel:78905626211" class="tel") +7 (890) 562-62-11
				a(href="mailto:support@siterestore.ru" class="mail") support@siterestore.ru
			.header-btn
				a.green-btn.sm.open-popup(href="#order-popup") Оставить заявку